/** BASE **/

$base-font-size: 13px;
$base-font-family: "Open Sans", sans-serif;
$header-font-family: "Pacifico", sans-serif;

body {
  font-family:$base-font-family;
  font-size:$base-font-size;
  min-width: 320px;
  font-weight: 400;
  position: relative;
  line-height: 1.6;
  -webkit-font-smoothing: antialised; 
}

body, 
html {
  height: 100%;
}

a, a:hover {
  text-decoration: none;
}

.page-content {
  margin: 60px 0;
}

.page-content img {
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  //margin: 20px 0;
}

/** ELEMENTS **/

.page-head {
  min-height: 500px;
  background: transparent; 
}

.page-head-title {
  margin: 50px 0;
}

.page-head-title i {
  font-size: 18px;
}

.divader {
  height: 30px;
}

.spacer {
  margin: 4px 0;
}

.spacer hr {
  width: 70px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.spacer i {
  font-size: 28px;
}

.spacer i.grey-icon {
  position: relative;
  left: 9px;
  top: 7px;
  z-index: 1;
}

.spacer i.solid-icon {
  position: relative;
  right: 9px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $header-font-family;
  letter-spacing: 2px;
  font-weight: normal;
  margin: 20px 0 10px 0;
  letter-spacing: 3px;
}

h1 {
  font-size: 42px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 32px;
}

h4 {
  font-size: 28px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 22px;
}

p {
  margin-bottom: 15px;
}

p.lead {
  font-weight: bold;
  font-size: 14px;
}

/** BUTTONS **/

button.small-button, a.small-button, input.small-button[type="submit"], input#searchsubmit {
  font-family: $header-font-family;
  letter-spacing: 3px;
  display: inline-block;
  padding: 4px 14px;
  font-size: 14px;
  border-radius: 3px;
}

button.medium-button, a.medium-button, input.medium-button[type="submit"] {
  font-family: $header-font-family;
  letter-spacing: 3px;
  display: inline-block;
  padding: 4px 18px;
  font-size: 16px;
  border-radius: 3px;
}

button.large-button, a.large-button, input.large-button[type="submit"] {
  font-family: $header-font-family;
  letter-spacing: 3px;
  display: inline-block;
  padding: 7px 22px;
  font-size: 18px;
  border-radius: 3px;
}

button.small-button:hover, a.small-button:hover, input.small-button[type="submit"]:hover,
button.medium-button:hover, a.medium-button:hover, input.medium-button[type="submit"]:hover,
button.large-button:hover, a.large-button:hover, input.large-button[type="submit"]:hover {
  font-family: $header-font-family;
  letter-spacing: 3px;
  text-decoration: none;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  transition: all 1s ease;
  border-radius: 3px;
}

/** PARALLAX **/

.my-parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0;
  position: relative;
  height: 700px; 
}

.height400 {
  height: 400px; 
}

.height500 {
  height: 500px; 
}

.height600 {
  height: 600px; 
}

.height100vh {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
  overflow: hidden;
}

.my-parallax p {
  margin: 30px 0;
}

.my-parallax-overlay:before {
  top:0;
  left: 0;
  content: " ";
  background-image: url(../images/topwhitewaves.png);
  position: absolute;
  height:6px;
  width: 100%;
}

.my-parallax-overlay:after {
  bottom:0;
  left: 0;
  content: " ";
  background-image: url(../images/bottomwhitewaves.png);
  position: absolute;
  height:6px;
  width: 100%;
}

.decor-none .my-parallax-overlay:before {
  background-image: none;
}

.decor-none .my-parallax-overlay:after {
  background-image: none;
}

.my-parallax-overlay, .dark-overlay {
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
}

.top-margin h3 {
  margin-top: 120px;
}

.alignment {
  position: absolute;
  display: table;
  height: 100%;
  width: 100%;
}

.center-middle {
  vertical-align: middle;
  text-align: center;
}

.v-align {
  display: table-cell;
}

.bottom-parallax {
  position: absolute; 
  bottom:0;
  width:100%;
  margin: 30px 0;
}

.bottom-parallax .text-center p {
  margin: 20px 0 0 0;
}

/** ICONS **/

.icons-list {
  margin-bottom: 4px;
}

.sharp-icon, a .outline-icon:hover {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.outline-icon, a .sharp-icon:hover {
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.small-icon {
  width: 38px;
  height: 38px;
  line-height: 34px;
  font-size: 18px;
  margin-bottom: 10px;
}

.big-icon {
  width: 64px;
  height: 64px;
  line-height: 60px;
  font-size: 32px;
  margin-bottom: 10px;
}

/** COUNTDOWN **/

#getting-countdown {
  text-align: center;
}

.countdown-num {
  display: inline-block;
  margin: 10px 20px;
}

.countdown-num span {
  width: 80px;
  height: 80px;
  display: inline-block;
  font-size: 34px;
  margin-bottom: 10px;
  border-radius: 50%;
  font-weight: bold;
  line-height: 2;
  font-family: $header-font-family;
  letter-spacing: 2px;
}

.countdown-num p {
  text-transform: uppercase;
  font-weight: bold;
  margin: 5px;
}

/** SETTINGS **/

#options-setting{
  position:fixed; 
  width:240px;  
  padding:20px; 
  top:200px; 
  left:-242px; 
  z-index:1000;
  box-shadow: 2px 2px 5px #888888;
  border-radius: 0 3px 3px 0;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#options-setting.move-right{
  left:0px;
  -webkit-transition: 0.3s all ease;
  -moz-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  -ms-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

#setting-button-wrapper{
  position:absolute; 
  left:240px; 
}

.setting-icon {
  padding: 10px;
  border-radius: 0 3px 3px 0;
  font-size: 20px;
}

.swatches, .pattern-swatches {
  display:inline-block; 
  height:30px; 
  width:90px; 
  margin:2px;
  text-align: center;
  font-size: 14px;
  line-height: 2.2;
  float: left;
}

.pattern-1 {
  background:url(../images/pattern1.png);
  background-repeat:repeat-x repeat-y;
}

.pattern-2 {
  background:url(../images/pattern2.png);
  background-repeat:repeat-x repeat-y;
}

.pattern-3 {
  background:url(../images/pattern3.png);
  background-repeat:repeat-x repeat-y;
}

/** IMAGES **/

.img-popup-hidden {
  display: none;
}

.img-popup-content {
  max-width: 600px;
  margin: 30px auto;
  position:relative;
}

.img-popup-content img {
  border-radius: 0 0 4px 4px;
}

.img-popup-text {
  padding: 20px;
  border-radius: 4px 4px 0 0;
}

.img-popup-text h3 {
  font-size: 20px;
  text-transform: uppercase;
  line-height: 1.2;
  margin: 0;
}

.img-popup-text p {
  margin-top: 20px;
  margin-bottom: 0;
}
    
.img-popup-content img {
  width: 100%;
}

.mfp-close-btn-in .mfp-close {
  margin-top: 9px;
}

.mfp-bg {
  background-color: transparent;
  opacity: 1;
}

.mfp-wrap ~ * {
  filter: blur(5px);
  webkit-filter: blur(5px);
    -moz-filter: blur(5px);
    -o-filter: blur(5px);
    -ms-filter: blur(5px);
}

.img-zoom-in {
  -webkit-transition: all 2000ms;
  -o-transition: all 200ms;
  transition: all 2000ms;
}

.img-item:hover .img-zoom-in  { 
  transform: scale(1.1); 
}

.col-gallery {
  padding-right: 7px;
  padding-left: 7px;
}

.img-item {
  border-radius: 4px;
  padding: 0 0 10px 0;
  margin-bottom: 5px;
  position: relative;
}

.img-wrap {
  display: flex;  
}

.img-name {
  margin-bottom: 20px;
}

.img-overflow {
  overflow: hidden;
}

.img-item img {
  width: 100%;
  height: 100%;
  padding: 10px;
}

.hovereffect {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
}

.hovereffect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /><feGaussianBlur stdDeviation="3" /></filter></svg>#filter');
  filter: blur(3px);
  -webkit-filter: blur(3px);
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
}

.hovereffect a.info {
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  -webkit-transition: all 0.4s ease-in;
  transition: all 0.4s ease-in;
  opacity: 0;
  filter: alpha(opacity=0);
}

.hovereffect:hover a.info {
  opacity: 1;
   filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}


/* PAGE LINKS */

ul.page-numbers {
  text-align: center;
  margin: 50px 0;
}

ul.page-numbers li {
  display: inline-block;
  margin: 0 10px;
}

ul.page-numbers li span.page-numbers, ul.page-numbers li a.page-numbers {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 33px;
  font-size: 18px;
  border-radius: 50%;
  text-align: center;
  margin-bottom: 10px;
}

span.vanilla {
  background-color:#f5c21b;
}

span.chocolate {
  background-color:#774125;
}

span.cherry {
  background-color:#820D2D;
}

span.mint {
  background-color:#6b913e;
}

span.strawberries {
  background-color:#de546b;
}

span.lavan {
  background-color:#7b5da5;
}